$color-black: #2C2F38;
$color-white: #FFFFFF;
$color-peachy: #BF967B;
$color-mint: #BAC0BE;
$color-sandy: #967F6B;
$color-darkGreen: #242D24;
$color-lightGreen: #748f8E;
$color-marshGreen: #2B3F38;
$color-grayishGreen: #9FB4AC;
$color-blue: #6C848C;
$color-green: #566561;
