@mixin h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

@mixin h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin b1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@mixin b2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

@mixin b3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto400.woff2') format('woff2'),
  url('/fonts/Roboto400.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Roboto700.woff2') format('woff2'),
  url('/fonts/Roboto700.woff') format('woff');
}
