$color-black: #2C2F38;
$color-peachy: #bf967b;
$color-mint: #bac0be;
$color-sandy: #967f6b;
$color-darkGreen: #242d24;
$color-lightGreen: #748f8e;
$color-marshGreen: #2b3f38;
$color-grayishGreen: #9fb4ac;
$color-blue: #6c848c;
$color-green: #566561;
